* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    margin: 0;
    background-color: #F7F9FB;
}
.tepa {
    text-align: center;
}
.tepah1 {
    color: #004AC6;
    margin: 0;
}

.tepaP {
    color: #434655;
    font-size: 20px;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
}

.login-box {
    background: #fff;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 40px;
    height: 40px;
    margin: 0 auto 10px;
    background: #e9efff;
    color: #3b5bdb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.password-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.password-row a {
    color: #3b5bdb;
    text-decoration: none;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #3b5bdb;
    color: #fff;
    border: none;
    border-radius: 6px;

    margin-top: 10px;
}

.divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.divider span {
    background: #fff;
    padding: 0 10px;
    color: #999;
}

.divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
    z-index: -1;
}

.google-btn {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
}

.signup {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.signup a {
    color: #3b5bdb;
    text-decoration: none;
}

.xabar-con{
    position: fixed;
    top: 30px;
    right: 30px;
}

.xabar{
    width: 400px;
    padding: 15px 20px;
    color: white;
    border-radius: 10px;
    margin: 10px 0px;

    animation: kirish 1s ease, chiqish 1s ease 2s forwards;
}



.error{
    background-color: red;
}
.success{
    background-color: rgb(0, 209, 0);
}
.info{
    background-color: skyblue;
}
@keyframes kirish{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes chiqish{
    from{
        transform: translateX(0%);
        opacity: 1;
    }
    to{
        transform: translateX(120%);
        opacity: 0;
    }
}


